# Removing All columns with missing data
We find we remove all columns with missing data or wrong data times, but for all money related values we require a regression learning model to predict

In [25]:
import pandas as pd
import numpy as np 
df = pd.read_csv("https://datasocibmproject.s3.ap-southeast-2.amazonaws.com/structured_data/capital_project_schedules_and_budgets_1.csv")
df.info()
df.columns
rows_drop = []
np.shape(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8185 entries, 0 to 8184
Data columns (total 16 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   Unnamed: 0                                                  8185 non-null   int64
 1   project_geographic_district                                 8185 non-null   int64
 2   project_building_identifier                                 8185 non-null   object
 3   project_school_name                                         8185 non-null   object
 4   project_type                                                8185 non-null   object
 5   project_description                                         8185 non-null   object
 6   project_phase_name                                          8184 non-null   object
 7   project_status_name                                         8185 non-null   object
 8   project_phase_actual_start_date                             8185 non-null   object
 9   project_phase_planned_end_date                              8185 non-null   object
 10  project_phase_actual_end_date                               6027 non-null   object
 11  project_budget_amount                                       8185 non-null   object
 12  final_estimate_of_actual_costs_through_end_of_phase_amount  8181 non-null   float64
 13  total_phase_actual_spending_amount                          8185 non-null   float64
 14  dsf_number_s                                                8185 non-null   object
 15  failure                                                     8185 non-null   bool
dtypes: bool(1), float64(2), int64(2), object(11)
memory usage: 967.3+ KB

(8185, 16)

In [64]:
# Checking if it worked
# not rebust since mistake arnt only inform pd.isna(value) or value == '' or value is None
import numpy as np 
import json  
wrong_missing_dictionary = {}
# Iterate through DataFrame columns find wrong values and drop
for column in df:
    wrong_missing_dictionary[column] = ''
    wrong_missing_dictionary[column + '_index'] = []
    # Iterate through indices of the column
    for row, value in enumerate(df[column]):
         if pd.isna(value) or value == '' or value is None:
            # Append the missing/wrong value to the corresponding dictionary entry
            if pd.isna(value):
                value_str = 'NaN'
            elif value == '':
                value_str = 'Empty String'
            else:
                value_str = 'None'
            
            wrong_missing_dictionary[column] += value_str + ', '
            wrong_missing_dictionary[column + '_index'].append(row + 1)
                

missing_values_dictionary = findWrongValue(df)
#print(json.dumps(missing_values_dictionary, indent=4))

In [3]:
def uniqueEntriesFeature(df, col):
    min_entry = df[col][1]
    max_entry = 0
    unique_dictionary = {} 
        
    min_key = f"{col}_max"
    max_key = f"{col}_max"
    unique_key = f"{col}_unique"
    
    unique_dictionary[min_key] = min_entry
    unique_dictionary[max_key] = max_entry
    unique_dictionary[unique_key] = []
    
       
    for row, entry in enumerate(df[col]):
        try:
            # Convert entry to float (assuming numeric data)
            value = int(entry) 
            if value < min_entry:
                unique_dictionary[min_key] = value
                min_entry = value
            elif value > max_entry:
                unique_dictionary[max_key] = value
                max_entry = value
                
        except ValueError:
            # Handle non-numeric entries (strings, NaNs, etc.)
            if entry not in unique_dictionary[unique_key]:
                unique_dictionary[unique_key].append(entry)

    return unique_dictionary

unique_dict = uniqueEntriesFeature(df, 'project_school_name')
#print(unique_dict)
row_to_drop = [] 
values = unique_dict['project_school_name_unique']
for row, value in enumerate(values):
    if value.lower().strip() in ['/','//','nan'] or pd.isnull(value) or pd.isna(value):
        row_to_drop.append(row)

row_to_drop

[]

In [79]:
# project type drop 
row_to_drop_project_type = [] 
values = df['project_type']
for row, value in enumerate(values):
    if value.lower().strip() in ['/','//','nan'] or pd.isnull(value) or pd.isna(value):
        row_to_drop.append(row)

row_to_drop_project_type

[]

In [77]:
row_to_drop_project_decription = [] 
values = df['project_description']
for row, value in enumerate(values):
    if value.lower().strip() in ['/','//','nan'] or pd.isnull(value) or pd.isna(value):
        row_to_drop_project_decription.append(row)

row_to_drop_project_decription

[]

In [86]:
row_to_drop_project_phase_name = [] 
values = df['project_phase_name']
for row, value in enumerate(values):
    try:
        numerical_value  = float(value)
    except ValueError:
        if value.lower().strip() in ['/','//','nan'] or pd.isnull(value) or pd.isna(value):
            row_to_drop_project_decription.append(row)

row_to_drop_project_phase_name

[]

In [87]:
# project_status_name
row_to_drop_project_status_name = [] 
values = df['project_status_name']
for row, value in enumerate(values):
    try:
        numerical_value  = float(value)
    except ValueError:
        if value.lower().strip() in ['/','//','nan'] or pd.isnull(value) or pd.isna(value):
            row_to_drop_project_decription.append(row)

row_to_drop_project_status_name

[]

In [91]:
row_to_drop = []
for col in df.columns:
    value = df[col]
    for row, value in enumerate(values):
        try:
            numerical_value  = float(value)
        except ValueError:
            if value.lower().strip() in ['/','//','nan'] or pd.isnull(value) or pd.isna(value):
                row_to_drop.append(row)

row_to_drop_project_decription

[]

# Droping all - unknown labels from project_building_identifier    
{'XAAF': 1479,
 'XADJ': 1480,
 'XADO': 1481,
 'XADY': 1482,
 'XAEE': 1483,
 'XABI': 2606,
 'XAEO': 2607,
 'XAFB': 2608,
 'XAUJ': 2609,
 'QALP': 5504,
 'QAPM': 5505,
 'QMAD': 6089,
 'KBZT': 6221,
 'KAKB': 6912} 
We are going to assume these data poitns are wrong and remove them since they can change our distribution of model

In [34]:
dict_wrong_inputs = {'XAAF': 1479, 'XADJ': 1480, 'XADO': 1481, 'XADY': 1482, 'XAEE': 1483, 'XABI': 2606, 'XAEO': 2607, 'XAFB': 2608, 'XAUJ': 2609, 'QALP': 5504, 'QAPM': 5505, 'QMAD': 6089, 'KBZT': 6221, 'KAKB': 6912}
arr_wrong_project_building_identifier_values = []
for value in dict_wrong_inputs.values():
    arr_wrong_project_building_identifier_values.append(value)

print(list(arr_wrong_project_building_identifier_values))
row_to_drop.clear()
row_to_drop += arr_wrong_project_building_identifier_values
print(row_to_drop)
print(np.shape(df))

[1479, 1480, 1481, 1482, 1483, 2606, 2607, 2608, 2609, 5504, 5505, 6089, 6221, 6912]
[1479, 1480, 1481, 1482, 1483, 2606, 2607, 2608, 2609, 5504, 5505, 6089, 6221, 6912]
(8185, 16)

# Project_phase_name
Contains ['Construction' 'CM, F&E' 'Scope' 'Design' 'Purch & Install' 'F&E'
 'CM,Art,F&E' 'CM' nan]
We remove all null and nan values

In [36]:
arr_isnull_isnan_project_phase_name = []
for index,value in enumerate(df['project_phase_name']):
    if pd.isna(value) == True or pd.isnull(value) == True:
        arr_isnull_isnan_project_phase_name.append(index)

print(arr_isnull_isnan_project_phase_name)
row_to_drop += arr_isnull_isnan_project_phase_name
print(row_to_drop)
print(np.shape(df))

[6992]
[1479, 1480, 1481, 1482, 1483, 2606, 2607, 2608, 2609, 5504, 5505, 6089, 6221, 6912, 6992]
(8185, 16)

# Dates actual vs planned 
from data profiling we find We find thats project_phase_actual_start_date $\leq$ project\_phase\_planned\_end\_date is all logical, but project\_phase\_actual\_start\_date  $\leq$ project\_phase\_planned\_end\_date  {'10/13/2006': ['10/10/2006', 6046], '10/21/2016': ['10/15/2016', 6470]}. \\ logically wrong so we remove

In [21]:
df.iloc[6470, :]

Unnamed: 0                                                                                  6483
project_geographic_district                                                                   28
project_building_identifier                                                                 Q144
project_school_name                                                            P.S. 144 - QUEENS
project_type                                                                             SCA CIP
project_description                                           ELECTRICAL WORK FOR A/C INITIATIVE
project_phase_name                                                                        Design
project_status_name                                                                  In-Progress
project_phase_actual_start_date                                                       11/29/2017
project_phase_planned_end_date                                                        05/02/2018
project_phase_actual_end_date                                                                NaN
project_budget_amount                                                                      13509
final_estimate_of_actual_costs_through_end_of_phase_amount                               13509.0
total_phase_actual_spending_amount                                                           0.0
dsf_number_s                                                                     DSF: 0000888775
failure                                                                                     True
Name: 6483, dtype: object

In [24]:
# planned start data nan and null 
print(df['project_phase_actual_start_date'].isna().unique())
print(df['project_phase_actual_start_date'].isnull().unique())
# actual end data planned and nan
print(df['project_phase_planned_end_date'].isna().unique())
print(df['project_phase_planned_end_date'].isnull().unique())
# planned end data null and nan
print(df['project_phase_actual_end_date'].isna().unique())
print(df['project_phase_actual_end_date'].isnull().unique())

[False]
[False]
[False]
[False]
[ True False]
[ True False]

In [44]:
# From existing Null dates and Nan project_phase_actual_end_date we drop since in this instance
arr_isnull_isnan_project_phase_actual_end_date = []
for index,value in enumerate(df['project_phase_name']):
    if pd.isna(value) == True or pd.isnull(value) == True:
        arr_isnull_isnan_project_phase_name.append(index)
        
print(arr_isnull_isnan_project_phase_name)
row_to_drop.append(6992)
print(row_to_drop)
print(np.shape(df))

[6992, 6992, 6992, 6992, 6992, 6992, 6992]
[1479, 1480, 1481, 1482, 1483, 2606, 2607, 2608, 2609, 5504, 5505, 6089, 6221, 6912, 6992, 6992]
(8185, 16)

In [46]:
row_to_drop.append(6046)
row_to_drop.append(6470)
print(row_to_drop)
print(np.shape(df))

[1479, 1480, 1481, 1482, 1483, 2606, 2607, 2608, 2609, 5504, 5505, 6089, 6221, 6912, 6992, 6992, 6046, 6470]
(8185, 16)

# project_budget_amount, final_estimate_of_actual_costs_through_end_of_phase_amount, total_phase_actual_spending_amount  
for final_estimate_of_actual_costs_through_end_of_phase_amount we find {267: nan, 2180: nan, 2886: nan, 8049: nan} and for project_budget_amount unique values {'0': 717, 'PNB': 49, 'DOES': 339, 'IEH': 652, 'DOEL': 113, 'DIIX': 28, 'DIIT': 195, 'FTK': 61, 'EMER': 4} that are 0 or constain characters

In [52]:
row_to_drop
row_to_drop_no_duplicates = list(dict.fromkeys(row_to_drop))
row_to_drop_no_duplicates

[1479,
 1480,
 1481,
 1482,
 1483,
 2606,
 2607,
 2608,
 2609,
 5504,
 5505,
 6089,
 6221,
 6912,
 6992,
 6046,
 6470]

In [55]:
# Export new data with no null or nan or wrong dates for regression

df_cleaned = df.drop(labels=row_to_drop_no_duplicates, axis=0)

np.shape(df_cleaned)

(8168, 16)

In [56]:
np.shape(df)

(8185, 16)

In [57]:
len(row_to_drop_no_duplicates)

17

In [61]:
# export
df_cleaned.to_csv('/Users/shahid/Github/data-society-ibm-ml-project/data/interim/data_removed_missing_values_null_na_illogical_date.csv', index=False)