In [4]:
# Identify Data types of number of data in each column

In [39]:
import pandas as pd

df = pd.read_csv("https://datasocibmproject.s3.ap-southeast-2.amazonaws.com/structured_data/capital_project_schedules_and_budgets_1.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8185 entries, 0 to 8184
Data columns (total 16 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   Unnamed: 0                                                  8185 non-null   int64
 1   project_geographic_district                                 8185 non-null   int64
 2   project_building_identifier                                 8185 non-null   object
 3   project_school_name                                         8185 non-null   object
 4   project_type                                                8185 non-null   object
 5   project_description                                         8185 non-null   object
 6   project_phase_name                                          8184 non-null   object
 7   project_status_name                                         8185 non-null   object
 8   project_phase_actual_start_date                             8185 non-null   object
 9   project_phase_planned_end_date                              8185 non-null   object
 10  project_phase_actual_end_date                               6027 non-null   object
 11  project_budget_amount                                       8185 non-null   object
 12  final_estimate_of_actual_costs_through_end_of_phase_amount  8181 non-null   float64
 13  total_phase_actual_spending_amount                          8185 non-null   float64
 14  dsf_number_s                                                8185 non-null   object
 15  failure                                                     8185 non-null   bool
dtypes: bool(1), float64(2), int64(2), object(11)
memory usage: 967.3+ KB

In [6]:
df['project_geographic_district'].min()

1

In [7]:
df['project_geographic_district'].min()

1

In [8]:
df['project_status_name'].head()

0    In-Progress
1    In-Progress
2       Complete
3    In-Progress
4            PNS
Name: project_status_name, dtype: object

In [9]:
for index in df.duplicated():
    if index == True:
        print(index)

# Checking Wrong data inputs for date

In [10]:
def checkDataFormatting(df, col):
    wrong_format_count = 0
    unique_value_wrong_format_dict = {}

    for date in df[col]:
        #correct = False
        correct_format = checkLenghtdata(date)
        if correct_format == False:
            # input directionary 
            unique_value_wrong_format_dict = uniqueWronglyFormatedDatas(unique_value_wrong_format_dict, date)
            wrong_format_count += 1
            
    return wrong_format_count, unique_value_wrong_format_dict

def checkLenghtdata(data):
    correct_format = False
    # convert string
    data = str(data)
    # CHeck if data is in form XX/XX/XXXX or PNS 
    if len(data) == 10 or data == 'PNS' or data == 'F&E' or data == 'CM':
        correct_format = True
        
        
    return correct_format

def uniqueWronglyFormatedDatas(dictionary, date):
    if date in dictionary:
        # add new key and dictionary 
        dictionary[date] += 1 
    else:
        dictionary[date] = 1
    return dictionary

In [11]:
# is the date consistent? in the form XX / XX / XXXX

wrong_actual_date_count_start = 0
wrong_actual_unique_dict_start = {}

wrong_actual_date_count_end = 0
wrong_actual_unique_dict_end = {}

wrong_planned_date_count_end = 0
wrong_planned_unique_dict_end = {}


wrong_actual_date_count_start, wrong_actual_unique_dict_start = checkDataFormatting(df, 'project_phase_actual_start_date')
wrong_actual_date_count_end, wrong_actual_unique_dict_end = checkDataFormatting(df,'project_phase_actual_end_date')
wrong_planned_date_count_end, wrong_planned_unique_dict_end = checkDataFormatting(df, 'project_phase_planned_end_date')

print(f"For project_phase_actual_start_date there is total wrongly formated {wrong_actual_date_count_start} and unique wrong values includes {wrong_actual_unique_dict_start} \n")
print(f"For project_phase_actual_end_date there is total wrongly formated {wrong_actual_date_count_end} and unique wrong values includes {wrong_actual_unique_dict_end} \n")
print(f"For project_phase_planned_end_date there is total wrongly formated {wrong_planned_date_count_end} and unique wrong values includes {wrong_planned_unique_dict_end} \n")

For project_phase_actual_start_date there is total wrongly formated 1 and unique wrong values includes {'FTK': 1}

For project_phase_actual_end_date there is total wrongly formated 2159 and unique wrong values includes {nan: 2158, 'FTK': 1}

For project_phase_planned_end_date there is total wrongly formated 1324 and unique wrong values includes {'DOES': 318, 'IEH': 652, 'DOEL': 113, 'DOER': 170, 'FTK': 61, 'EMER': 4, 'DOEP': 1, '/  /': 5}

In [12]:
# Checking which index have null or Nan values
df.items()

In [13]:
import numpy as np 
import json  
wrong_missing_dictionary = {}
# Iterate through DataFrame columns
for column in df:
    wrong_missing_dictionary[column] = ''
    # Iterate through indices of the column
    for value in df[column]:
        # Checks for NaN, empty string (''), or None
        if pd.isna(value) or value == '' or value == None:
            wrong_missing_dictionary[column] = [value, index]

print(json.dumps(wrong_missing_dictionary, indent=4))

{
    "Unnamed: 0": "",
    "project_geographic_district": "",
    "project_building_identifier": "",
    "project_school_name": "",
    "project_type": "",
    "project_description": "",
    "project_phase_name": [
        NaN,
        false
    ],
    "project_status_name": "",
    "project_phase_actual_start_date": "",
    "project_phase_planned_end_date": "",
    "project_phase_actual_end_date": [
        NaN,
        false
    ],
    "project_budget_amount": "",
    "final_estimate_of_actual_costs_through_end_of_phase_amount": [
        NaN,
        false
    ],
    "total_phase_actual_spending_amount": "",
    "dsf_number_s": "",
    "failure": ""
}

# Finding Duplicates

In [14]:

duplicated_indices = []
print(len(df))
index = 0
for value in df.duplicated():
    if  value == True:
        duplicated_indices.append(index)
    index += 1


print(duplicated_indices)

8185
[]

# Finding Range of Unique Values in each column

In [5]:
# Goals is to find all unique entries in each column 
# if it is str then puts all numbers eahc unique entry into string
# if is it int() then finds range (min and max) else if does not int then puts idnex and row
def uniqueEntriesFeature(df, col):
    min_entry = df[col][1]
    max_entry = 0
    unique_dictionary = {} 
        
    min_key = f"{col}_max"
    max_key = f"{col}_max"
    unique_key = f"{col}_unique"
    
    unique_dictionary[min_key] = min_entry
    unique_dictionary[max_key] = max_entry
    unique_dictionary[unique_key] = []
    
       
    for row, entry in enumerate(df[col]):
        try:
            # Convert entry to float (assuming numeric data)
            value = int(entry) 
            if value < min_entry:
                unique_dictionary[min_key] = value
                min_entry = value
            elif value > max_entry:
                unique_dictionary[max_key] = value
                max_entry = value
                
        except ValueError:
            # Handle non-numeric entries (strings, NaNs, etc.)
            if entry not in unique_dictionary[unique_key]:
                unique_dictionary[unique_key].append(entry)

    return unique_dictionary
    
                

unique_dict = uniqueEntriesFeature(df, 'project_geographic_district')
print(unique_dict)

{'project_geographic_district_max': 32, 'project_geographic_district_unique': []}

In [6]:
unique_dict = uniqueEntriesFeature(df, 'project_geographic_district')
print(unique_dict)
df['project_geographic_district'].unique()

{'project_geographic_district_max': 32, 'project_geographic_district_unique': []}

array([10,  2, 11,  3, 25,  4, 15,  5, 16,  6, 12, 13,  7,  8, 14,  9,  1,
       18, 30, 24, 19, 31, 20, 26, 21, 27, 22, 28, 23, 29, 17, 32])

In [34]:
df['dsf_number_s'].unique()

array(['DSF: 0000821031, 0000822210', 'DSF: 0000823560',
       'DSF: 0000844624', ...,
       'DSF: 0000822169, 0000843221, 0000843222, 0000843223',
       'DSF: 0000851654', 'DSF: 0000776207'], dtype=object)

In [56]:
unique_dict = uniqueEntriesFeature(df, 'project_school_name')
#print(unique_dict)
row_to_drop = [] 
values = unique_dict['project_school_name_unique']
for row, value in enumerate(values):
    if value.lower().strip() in ['/','//','nan'] or pd.isnull(value) or pd.isna(value):
        row_to_drop.append(row)


row_to_drop

[]

In [46]:
# find if there is problematric values for project_building_identifier
import re 
# Method 1
arr_project_building_identifier = df['project_building_identifier'].unique()
wrong_input_arr_project_building_identifier = {}
for index, building_identifer in enumerate(df['project_building_identifier']):
    withoutletter_building_identifer = building_identifer[1:len(building_identifer)]
    try:
        withoutletter_building_identifer = building_identifer[1:len(building_identifer)]
        withoutletter_building_identifer = int(withoutletter_building_identifer)
        if building_identifer[0].lower().isalpha() == False or len(building_identifer) != 4 :
            wrong_input_arr_project_building_identifier[building_identifer] = index
    except ValueError as e:
        wrong_input_arr_project_building_identifier[building_identifer] = index

#wrong_input_arr_project_building_identifier

# Method 2 - using regualar expressions to find porblematic values
expected_pattern = r'^[A-Z\. ][0-9][0-9][0-9]$'
wrong_input_arr_project_building_identifier_method_two = {}
for index, value in enumerate(df['project_building_identifier']):
    value.strip()
    if not re.match(expected_pattern, value):
        wrong_input_arr_project_building_identifier_method_two[value] = index
        
print(wrong_input_arr_project_building_identifier_method_two)

{'XAAF': 1479, 'XADJ': 1480, 'XADO': 1481, 'XADY': 1482, 'XAEE': 1483, 'XABI': 2606, 'XAEO': 2607, 'XAFB': 2608, 'XAUJ': 2609, 'QALP': 5504, 'QAPM': 5505, 'QMAD': 6089, 'KBZT': 6221, 'KAKB': 6912}

In [36]:
import numpy as np
np.shape(df)
print(df.iloc[1479,:])
print(np.shape(df))
df.drop(labels=[1480], axis=1,inplace=True)
print(np.shape(df))

Unnamed: 0                                                                      1480
project_geographic_district                                                       11
project_building_identifier                                                     XADJ
project_school_name                                                     X000 - BRONX
project_type                                                    SCA Furniture & Equi
project_description                                           FY16 RESO A TECHNOLOGY
project_phase_name                                                               F&E
project_status_name                                                      In-Progress
project_phase_actual_start_date                                           01/09/2017
project_phase_planned_end_date                                                   F&E
project_phase_actual_end_date                                                    NaN
project_budget_amount                                                          55000
final_estimate_of_actual_costs_through_end_of_phase_amount                   55000.0
total_phase_actual_spending_amount                                           54136.0
dsf_number_s                                                         DSF: 0000843721
failure                                                                        False
Name: 1480, dtype: object
(8184, 16)
(8184, 16)

In [ ]:
expected_pattern = r'^[A-Z\. ]+\s*-\s*[A-Z]+$'

In [37]:
df['project_school_name'].unique()

array(['I.S. 254 - BRONX', 'P.S. 279 - BRONX', 'I.S. 228 - BRONX', ...,
       'ACAD. FOR ENVIRON. LDRSHP - K', 'P.S. 677 - BROOKLYN',
       'ALC - BROOKLYN CHOICES'], dtype=object)

# project_school_name
Since project description takes on mainly two forms I.S. 254 - BRONX or ALC - BROOKLYN CHOICES  or ACAD. FOR ENVIRON. LDRSHP - K
our main goals is to checks if the expression includes 2 or more characters and a dash
From checks all seem fine

In [47]:
df['project_school_name'].unique()

array(['I.S. 254 - BRONX', 'P.S. 279 - BRONX', 'I.S. 228 - BRONX', ...,
       'ACAD. FOR ENVIRON. LDRSHP - K', 'P.S. 677 - BROOKLYN',
       'ALC - BROOKLYN CHOICES'], dtype=object)

In [48]:
dic_wrong_project_school_name = {}
reg_project_school_name = r'^(?=.*[A-Za-z].*[A-Za-z].*[A-Za-z])(?=.*-.*$).*$'
for index,value in enumerate(df['project_school_name']):
    if not re.match(reg_project_school_name, value):
        dic_wrong_project_school_name[value] = index
print(dic_wrong_project_school_name)

{'HS FOR ENVIRONMENTAL STUDIES': 154, 'OLD MABLE DEAN BACON VOC HS AX': 131, 'HARVEST COLLEGIATE HIGH SCHOOL': 161, 'HS FOR LEADERSHIP & PUBLIC SER': 165, 'CITY KNOLL MIDDLE SCHOOL': 168, 'LYFE': 213, 'M.S. M247 DUAL LANGUAGE MIDDLE': 228, 'WADLEIGH SCNDRY SCHL FOR PERMG': 244, 'WADLEIGH SECONDARY SCHOOL FOR': 370, 'HIGH SCHOOL FOR ENERGY AND TEC': 256, 'SCHOOL OF DIPLOMACY': 363, 'THE RIVERSIDE SCHOOL FOR MAKER': 477, 'URBAN ASSEMBLY SCHOOL': 1110, 'PELHAM ACADEMY OF ACADEMICS AN': 525, 'COLLEGIATE INST FOR MATH & SCI': 583, 'CORNERSTONE ACADEMY FOR SOCIAL': 567, 'YOUNG VOICES ACADEMY OF THE BR': 572, 'ACADEMY FOR SCHOLARSHIP AND EN': 576, 'PELHAM HIGH SCHOOL FOR LANGUAG': 584, 'HS OF COMPUTERS & TECHNOLOGY': 595, 'INNOVATION DIPLOMA PLUS': 644, 'THE URBAN ASSEMBLY SCHOOL': 1223, 'THE GLOBAL LEARNING COLLABORAT': 645, 'MAXINE GREEN HIGH SCHOOL': 670, 'COAL. SCHOOL FOR SOCIAL CHANGE': 723, 'SUMMIT ACADEMY CHARTER SCHOOL': 740, 'RED HOOK NEIGHBORHOOD SCHOOL': 742, 'P.S. 032 SAMUEL MILLS SPROLE': 748, 'P.S. 058 THE CARROLL': 758, 'P.S. 124 SILAS B. DUTCHER': 795, 'SUCCESS ACADEMY CHARTER SCHOOL': 6062, 'P.S. 38 ROBERTO CLEMENTE': 934, 'MANHTN CT FOR MATH & SCI. HS': 954, 'PARK EAST ALT HS': 958, "YOUNG WOMEN'S LEADERSHIP SCHOO": 2881, 'EDUCATIONAL CAMPUS @ 500 19TH': 1011, 'DIGITAL ARTS AND CINEMA TECHNO': 1013, 'SUNSET PARK AVENUES ELEMENTARY': 1028, 'COY L. COX SCHOOL': 1038, 'SECONDARY SCHOOL FOR JOURNALIS': 1049, 'MILLENIUM BROOKLYN HIGH SCHOOL': 1051, 'BROOKLYN FRONTIERS HIGH SCHOOL': 1055, 'BROOKLYN HS OF THE ARTS': 1094, 'EAGLE ACADEMY FOR YOUNG MEN': 1162, 'HARLEM VILLAGE ACADEMY CHARTER': 1208, "TEACHER'S COLLEGE COMMUNITY SC": 1352, 'URBAN ASMBLY SCHL GLOBAL COMM': 1222, 'P.S. @ 4525 8TH AVENUE': 1240, 'BOYS AND GIRLS YABC': 1248, 'COBBLE  HILL SCHL OF AMER STDS': 1252, 'NEW VOICES SCHOOL OF ACADEMIC': 1271, 'FREDERICK DOUGLASS ACADEMY IV': 1308, "CTR CONT'D ED (UNWED MOTHERS)": 1347, 'P.S. 5': 1367, 'DOS PUENTES ELEMENTARY SCHOOL': 1465, 'BRONX HS FOR THE VISUAL ARTS': 1478, 'FAIRMONT NEIGHBORHOOD SCHOOL': 1511, 'P.S. 066 SCHOOL OF HIGHER EXPE': 1532, 'I.S. 191': 1575, 'HAMILTON GRANGE MIDDLE SCHOOL': 1676, 'HS FOR HEALTH CAREER & SCIENCE': 1839, 'HS FOR LAW AND PUBLIC SERVICE': 1700, 'GEORGE WASHINGTON H.S.': 1712, 'URBAN SCHOLARS COMMUNITY SCHOO': 1740, 'ARTURO A. SCHOMBERG SATELLITE': 1746, 'THE METROPOLITAN SOUNDVIEW HIG': 1761, 'JAMES MONROE HS': 1762, 'JAMES MONROE H.S.': 1763, 'P.S. 011 PURVIS J. BEHAN': 1788, 'HIGH SCHOOL FOR MATHEMATICS, S': 1856, 'GREGORIO LUPERON PREP. SCHOOL': 1870, 'THE LABORATORY SCHL OF FINANCE': 1941, 'CONCOURSE VILLAGE ELEMENTARY S': 1951, 'BKLYN HS FOR LEADERSHIP & COMM': 1978, 'BROOKLYN COMMUNITY ARTS & MEDI': 1980, 'COMMUNITY PARTNERSHIP CHARTER': 1995, 'GEORGE WESTINGHOUSE VOC. HS': 2058, 'CITY POLYTECHNIC HIGH SCHOOL O': 2059, 'STEM CENTER @ CLINTON STREET': 2071, 'ADULT AND CONTINUING EDUCATION': 2075, 'P.S. 161 PONCE DE LEON': 2080, 'THE URBAN ASSEMBLY BRONX ACADE': 2089, 'JILL CHAIFETZ TRANSFER HIGH SC': 2096, 'MOTT HAVEN COMMUNITY HIGH SCHO': 2130, 'BRONX LEADERSHIP ACADEMY II HS': 2132, 'LONGWOOD PREPARATORY ACADEMY': 2158, 'HOLCOMBE L. RUCKER SCHOOLOF CO': 2154, 'THE LONGWOOD ACADEMY FOR DISCO': 2180, 'SCIENCE SKILLS CENTER HIGH SCH': 2209, 'BENJAMIN BANNEKER ACAD. (HS LV': 2232, 'I.S. 49': 2282, 'BEGINNING WITH CHLDRN CHRTR II': 2309, 'BEGINNING WITH CHILDREN CHARTE': 2315, 'BRONX DELTA SCHOOL': 2415, 'LEHMAN HS': 2425, 'THE ETHICAL COMMUNITY CHARTER': 2514, 'HS OF ENTERPRISE, BUS. & TECH.': 2533, 'WILLIAMSBURG HS FOR ARCH & DES': 2549, 'WILLIAMSBURG PREPARATORY SCHOO': 2548, 'MAGNET SCHOOL OF MATH, SCIENCE': 2563, 'BRONX COMMUNITY HIGH SCHOOL': 2576, 'SCHOOL FOR TOURISM AND HSPTLTY': 2599, 'SCHL FOR TURSM AND HOSPITALITY': 2603, 'SCHOOL FOR TOURISM AND HOSPITA': 2604, 'GREEK AMERICAN INSTITUTE': 2606, 'BRONX CNTR FOR SCIENCE & MATH': 2618, 'MOTT HALL CHARTER SCHOOL': 3101, 'NEW EXPLORATIONS INTO SCIENCE,': 2709, 'EAST SIDE COMMUNITY SCHOOL': 2726, 'P.S. 140 NATHAN STRAUS': 2775, 'CASCADES CTR FOR TCHING & LNG': 2799, 'SATELLITE AT FORSYTHE': 2797, 'SHERIDAN ACADEMY FOR YOUNG LEA': 2841, "YOUNG WOMEN'S LEADERSHIP SCHL": 2874, 'FREDERICK DOUGLASS ACADEMY III': 2917, 'BRONX EARLY COLLEGE ACADEMY': 2924, 'THE NEW AMERICAN ACADEMY AT RO': 2941, 'I.S. 17 MANHATTAN ACADEMY TECH': 2950, 'J.H.S. 47 (SCH FOR THE DEAF)': 2977, 'P.S. 138': 3020, 'EMMA LAZARUS HIGH SCHOOL': 3042, 'MORRIS COLLAB HS TECH & HUMAN': 3077, 'BRONX HIGH SCHOOL FOR MEDICAL': 3093, 'P.S./I.S. 217 ROOSEVELT ISLAND': 3253, 'HUMANITIES PREPARATORY ACAD': 3266, 'LIBERTY HS ACADEMY FOR NEWCOME': 3284, 'WASHINGTON IRVING H.S.': 3288, 'P.S. 205 FIORELLO LAGUARDIA': 3417, 'UNION SQUARE ACADEMY FOR HEALT': 3431, 'HEALTH PROF & HUMAN  SVCS': 3451, 'HS FOR HEALTH PROF & HUMAN SER': 3453, 'JULIA RICHMAN H.S.': 3463, 'THE URBAN ASSEMBLY SCHOOL FOR': 3474, 'PARK WEST HS (ECF)': 3478, 'URBAN ASSEMBLY SCHOOL OF DESIG': 3487, 'MANHATTAN ACADEMY OF ARTS AND': 3516, 'HS OF GRAPHIC COMM. ARTS (VOC)': 3526, 'STEPHEN T. MATHER BUILDING ART': 3536, 'THE BUSINESS OF SPORTS SCHOOL': 3535, 'LIFE SCIENCE SECONDARY SCHOOL': 3545, 'EAST FLATBUSH COMMUNITY RESCH': 7443, 'ARTS & MEDIA PREPARATORY ACADE': 3549, 'BROOKLYN SCIENCE AND ENGINEERI': 3586, 'MIDDLE SCHOOL FOR ART & PHILOS': 3605, 'I.S. 252': 3603, 'THE SCIENCE AND MEDICINE MIDDL': 3646, 'KURT HAHN EXPED LEARNING SCH': 3654, 'THE 30TH AVENUE SCHOOL': 7277, 'P.S. 171 PETER G. VAN ALST': 3739, 'EAST ELMHURST COMMUNITY SCHOOL': 3772, 'EAST NEW YORK ELEMENTARY SCHOO': 3845, 'BROOKLYN GARDENS ELEMENTARY SC': 3889, 'SCHOOL OF THE FUTURE BROOKLYN': 3890, 'INVICTUS PREPARATORY CHARTER S': 3914, 'LONG ISLAND CITY H.S.': 3938, 'FRANK SINATRA SCL OF THE ARTS': 3946, 'ACADEMY OF AMERICAN STUDIES': 3950, 'YOUNG W. LEADERSHIP SCL ASTORI': 3963, 'BACCALAUREATE SCL FOR GLOBAL E': 3966, 'DOE BUREAU OF SUPPLIES': 3970, 'P.S. 004 MAURICE WOLLIN': 4030, 'I.S. 73': 4057, 'LIBERTY AVENUE MIDDLE SCHOOL': 4193, 'I.S. 452': 4211, 'LYFE PROGRAM': 7231, 'PERFORMING ARTS AND TECH. HS': 4265, 'HIGH SCHOOL FOR CIVIL RIGHTS': 4269, 'ELM TREE ELEMENTARY SCHOOL': 4288, 'GROVER CLEVELAND HIGH SCHOOL': 4343, 'HIGH SCHOOL OF APPLIED COMMUNI': 4371, 'PAN AMERICAN INTERNATIONAL HS': 4379, 'P.S./I.S. @ 3269 ATLANTIC AVE': 4421, 'THE FLUSHING INTERNATIONAL HS': 4641, 'J.H.S. 189 DANIEL CARTER BEARD': 4638, 'P.S. 179 KENSINGTON': 4660, 'URBN ASSY SCHL CRIM JUSTICE': 4713, 'J.H.S. 194 WILLIAM CARR': 4790, 'P.S. 209 CLEARVIEW GARDENS': 4800, 'QUEENS HIGH SCHOOL FOR LANGUAG': 4873, 'VERITAS ACADEMY': 4875, 'TELECOM ARTS & TECHNOLOGY H.S.': 4902, 'I.S. 096 SETH LOW': 4989, 'P.S. 97': 5010, 'P.S./ IS 178 HOLLISWOOD': 5122, 'P.S. 128 BENSONHURST': 5168, 'THE BROOKLYN SCHOOL OF INQUIRY': 5260, 'THE ACADAMY OF TALENTED SCHOLA': 5382, 'J.H.S. 216 GEORGE J. RYAN': 5281, 'BENJAMIN N. CARDOZO HIGH SCHOO': 5320, 'BUSINESS TECHNOLOGY EARLY COLL': 5375, 'QNS HS OF TEACH., LIB. ARTS&SC': 5376, 'LIFE ACADEMY H.S. FILM & MUSIC': 5442, 'KINGSBOROUGH EARLY COLLEGE SCH': 5443, 'MURROW H.S.': 5467, 'M.S. 053 BRIAN PICCOLO': 5548, 'P.S. 100': 5587, 'J.H.S. 078 ROY H. MANN': 5661, 'P.S. 119 AMERSFORT': 5680, 'P.S. 223': 5812, 'ROCKAWAY COLLEGIATE HIGH SCHL': 5997, 'ROCKAWAY PARK HIGH SCHOOL FOR': 5999, 'CHANNEL VIEW SCHOOL FOR RESEAR': 6002, 'ROCKAWAY COLLEGIATE HIGH SCHOO': 6001, 'CHANNEL VIEW SCL FOR RESEARCH': 6003, 'FREDERICK DOUGLASS ACAD VI HS': 6008, 'FAR ROCKAWAY HS': 6031, 'FREDERICK DOUGLASS ACADEMY VI': 6033, 'QNS HS FOR INF. RESEARCH & TEC': 6034, 'HS FOR CONST.TRADES,ENGG.,& AR': 6061, 'PENINSULA PREPARATORY ACADEMY': 6089, 'MIDWOOD H.S.': 6147, 'JAMES MADISON HS': 6155, 'ORIGINS HIGH SCHOOL': 6184, 'PROFESSIONAL PATHWAYS HS': 6180, 'PROFESSIONAL PATHWAYS HIGH SCH': 6183, 'J.H.S. 008 RICHARD S. GROSSLEY': 6238, "JAMAICA CHILDREN'S SCHOOL": 6260, 'P.S. 48': 6268, 'BROOKLYN COLLEGIATE: A COLLEGE': 6364, 'BROOKLYN LANDMARK ELEMENTARY': 6377, 'BROOKLYN ENVIRONMENTAL EXPLORA': 6375, 'FREDERICK DOUGLAS ACAD VII HS': 6423, 'RIVERDALE AVENUE MIDDLE SCHOOL': 6438, 'EAGLE ACAD YOUNG MEN AT OCEAN': 6453, 'J.H.S. 142': 6476, 'FOREST HILLS HS': 6581, 'JAMAICA HS': 6587, 'QUEENS COLLEGIATE SCHOOL': 6591, 'CHRISTOPHER AVENUE COMMUNITY S': 6613, 'P.S. 007 LOUIS F. SIMEONE': 6655, 'HILLSIDE ACADEMY FOR ARTS AND': 6722, 'JAMAICA GATEWAY TO THE SCIENCE': 6720, 'HILLCREST H.S.': 6732, "YOUNG WOMENS' LEADERSHIP SCHL": 6760, 'QUEENS METROPOLITAN HIGH SCHL': 6768, 'QUEENS METROPOLITAN HIGH SCHOO': 6776, 'METROPOLITAN EXPEDITIONARY LEA': 6773, 'QUEENS GATEWAY TO HEALTH SCIEN': 6781, 'GATEWAY HEALTH & SCIENCES H.S.': 6780, 'P.S. 035 NATHANIEL WOODHULL': 6798, 'P.S. 038 ROSEDALE': 6828, 'GOTHAM PROFESSIONAL ARTS ACAD': 6840, 'BROOKLYN EMERGING LEADERS ACAD': 6849, "YOUNG SCHOLARS' ACADEMY FOR DI": 6868, 'BEDFORD STUYVESANT COLLEGIATE': 6912, 'NEW BRIDGES': 6956, 'QUEENS UNITED MIDDLE SCHOOL': 7047, 'I.S. 192 THE LINDEN': 7066, 'COMMUNITY VOICES MIDDLE SCHOOL': 7078, 'PROSPECT HEIGHTS H.S.': 7179, 'SCIENCE TECHNOLOGY & RESEARCH': 7201, 'G. WASHINGTON CARVER HS FOR SC': 7236, 'INSTITUTE FOR HEALTH PROFESSIO': 7241, 'JACKSON HS': 7245, 'MATH, SCI., RESEARCH & TECH. H': 7250, 'HS FOR YOUTH & COMMUNITY DEV.': 7325, 'ERASMUS YOUNG ADULT BORO CENTE': 7330, 'MEDGAR EVERS COLLEGE PREPARATO': 7338, 'MEDGAR EVERS COLLEGE PREP': 7339, 'PATHWAYS IN TECHNOLOGY': 7352, 'PATHWAYS IN TECHNOLOGY EARLY C': 7356, 'BROWNSVILLE ACADEMY HIGH SCHOO': 7362, 'P.S. 114': 7381, 'P.S. 114 RYDER ELEMENTARY': 7390, 'FORT HILL COLLABORATIVE ELEMEN': 7511, 'CSI HS FOR INTL STUDIES': 7665, 'G MCCOWN EXPEDITIONARY LRNG SC': 7691, 'CSI HS FOR INTERNATIONAL STUDI': 7692, 'NAPLES STREET ELEMENTARY SCHL': 7723, 'NAPLES STREET ELEMENTARY SCHOO': 7730, 'P.S. 56 THE LOUIS DESARIO SCHO': 7782, 'P.S. @ 357 TARGEE STREET': 7828, 'D75 REPLACEMENT @ 15 FAIRFIELD': 7867, 'CURTIS H.S.': 7915, 'CURTIS HIGH SCHOOL ANNEX': 7921, 'TOTTENVILLE H.S.': 7932, 'SUSAN E. WAGNER HS': 7953, 'RALPH R. MCKEE CAREER AND TECH': 7972, 'P.S. 106 EDWARD EVERETT HALE': 8031, 'MATH, ENGINEERING, AND SCIENCE': 8104, 'BROOKLYN SCHOOL FOR MATH AND R': 8141, 'BRKLYN SCHL FOR SOCIAL JUSTICE': 8145, 'BKLYN SCHL FOR SOCIAL JUSTICE': 8168, 'THE BROOKLYN SCHOOL FOR SOCIAL': 8169}

df['project_type'].unique()

# Project_type

In [52]:
df['project_type'].unique()

array(['SCA CIP', 'SCA CIP RESOA', 'DIIT - RESOA', 'DOE- RESOA',
       'SCA Furniture & Equi', 'Trust For Public Lan', 'SCA Capacity',
       'DOE - Skilled Trades', 'SCA IEH', 'DOE - Lead Paint', 'PRE-K',
       'DIIT - PBX Telephone', 'DIIT - Project Conne',
       'Fast Track Projects', 'DCAS/NYPA', 'SCA Lease Site Impro',
       'SCA Emergency Lighti', 'RCT CIP', 'SCA Emergency Respon',
       'DOE Managed PREK'], dtype=object)

In [56]:
arr_na = df['project_type'].isna()
arr_project_type_na = {}
for index, value in enumerate(arr_na):
    if value == True:
        arr_project_type_na[index] = value

print(arr_project_type_na)

{}

In [58]:
arr_null_project_type = df['project_type'].isnull()
arr_null_project_type.unique()

array([False])

In [64]:
# Project description 
arr_null_description_type = df['project_description'].isnull().unique()
arr_na_description_type = df['project_description'].isna().unique()
print(arr_null_description_type)
print(arr_na_description_type)

[False]
[False]

# Project_phase

# Project Phase

In [65]:
print(df['project_phase_name'].unique())

['Construction' 'CM, F&E' 'Scope' 'Design' 'Purch & Install' 'F&E'
 'CM,Art,F&E' 'CM' nan]

# Project_status

In [66]:
df['project_status_name'].unique()

array(['In-Progress', 'Complete', 'PNS'], dtype=object)

In [67]:
df.iloc[6470, :]

Unnamed: 0                                                                                    6470
project_geographic_district                                                                     28
project_building_identifier                                                                   Q140
project_school_name                                                              P.S. 140 - QUEENS
project_type                                                                  Trust For Public Lan
project_description                                           FY17 RESO A PLAYGROUND REDEVELOPMENT
project_phase_name                                                                          Design
project_status_name                                                                       Complete
project_phase_actual_start_date                                                         10/21/2016
project_phase_planned_end_date                                                          10/15/2016
project_phase_actual_end_date                                                           08/15/2017
project_budget_amount                                                                       210000
final_estimate_of_actual_costs_through_end_of_phase_amount                                210000.0
total_phase_actual_spending_amount                                                        210000.0
dsf_number_s                                                                       DSF: 0000844890
failure                                                                                       True
Name: 6470, dtype: object